<div class="blog-post" data-id="{{_id}}">
    <h2 id="blog-post-title">{{postTitle}}</h2>
    <h3 id="blog-post-date">{{date}}</h3>
    <p>
        {{info}}
    </p>
    <button class="delete-blog-post">X</button>
</div>