<div class="post">
  <div class="post-contents">
    <div class="post-image-container">
      <img src="/img/breeders/{{image}}" alt="{{name}}">
    </div>
    <div class="post-info-container">
      <a href="/breeder/{{_id}}" class="post-title">{{name}}</a>
    </div>
  </div>
</div>
