<div class="post">
  <div class="post-contents">
    <div>
      <img src="{{image}}" alt="{{description}}">
    </div>
    <div>
      <a href="#" class="post-title">{{description}}</a> <span class="post-price">${{price}}</span>
    </div>
  </div>
</div>
