<div class="post">
  <div class="post-contents">
    <div class="post-image-container">
      <img src="/img/infants/{{image}}" alt="{{description}}">
    </div>
    <div class="post-info-container">
      <a href="#" class="post-title">{{description}}</a> <span class="post-price">${{price}}</span>
    </div>
  </div>
</div>
