<footer class="footer">

  <div id="footer-box">

    <p> <i class="fa fa-envelope-o" aria-hidden="true"></i> : <a href="mailto:tiffanyslops@gmail.com">tiffanyslops@gmail.com</a></p>
    <p><i class="fa fa-phone" aria-hidden="true"></i> : <a href="tel:5419531412">(541) 953-1412</a></p>
    <p>Created By: Group 5 :)</p>

  </div>

</footer>
