<div id="page-title">
  <h1>Tiffany's Lops</h1>
</div>
<nav class="navbar">
  <ul class="navlist">

    <li class="navitem"><a href="/">Home</a></li>
    <li class="navitem"><a href="/breeder/">Meet the Parents</a></li>
    <li class="navitem"><a href="blog">Blog</a></li>
    <li class="navitem"><a href="contact">Contact</a></li>
    <li class="navitem"><a href="FAQ">FAQ</a></li>
    <li class="navitem"><a href="#">Edit Breeders</a></li>
    <li class="navitem"><a href="#">Edit Infants</a></li>

  </ul>
</nav>
