<nav class="navbar">
  <div id="page-title">
    <h1>Bunnies List</h1>
  </div>
  <ul class="navlist">

    <li class="navitem"><a href="#">eiusmod</a></li>
    <li class="navitem"><a href="#">Lorem</a></li>
    <li class="navitem"><a href="#">ipsum</a></li>

  </ul>
</nav>
