<script src="/addBreeder.js" defer></script>
<section class="bunny-edit-container">
  <h4 class="bunny-edit-title">Add new breeder</h4>
  <div class="bunny-text-input">
    <label>Name:</label>
    <textarea name="name" id="bunny-short-input"></textarea>
  </div>
  <div class="bunny-text-input">
    <label>Birthdate:</label>
    <textarea name="date" id="bunny-short-input"></textarea>
  </div>
  <div class="bunny-text-input">
    <label>image URL:</label>
    <textarea name="image" id="bunny-short-input"></textarea>
  </div>
  <div class="bunny-text-input">
    <label>Description:</label>
    <textarea name="description" id="bunny-long-input"></textarea>
  </div>
  <div class="bunny-text-input">
    <label>Father:</label>
    <select name="father">
      <option value="">None</option>
      {{#each parents}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="bunny-text-input">
    <label>Mother:</label>
    <select name="mother">
      <option value="">None</option>
      {{#each parents}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="bunny-text-input">
    <label>IsCurrent:</label>
    <input type="checkbox" name="iscurrent"></input>
  </div>
  <div class="bunny-text-input">
    <label>Breed:</label>
    <textarea name="breed" id="bunny-short-input"></textarea>
  </div>
  <div class="bunny-edit-footer">
    <button type="button" id="bunny-accept">Create New Breeder</button>
  </div>
</section>
