<main id="main-container">
    <h1 id="page-title">Ayyy look it's a blog!</h1>
    <section class="blog"></section>

        {{#each bloggers}}
            {{> blogpost}}
        {{/each}}

    </section>
</main>