<main id="main-container">
    <h1 id="page-title">Ayyy look it's a blog!</h1>
    <section class="blog">

        {{#each bloggers}}
            {{> blogpost}}
        {{/each}}

    </section>
    <section class="blog-edit-container">
        <h4 class="blog-edit-title">Edit Blog</h4>
        <div class="blog-text-input">
            <label for="blog-title-input">Title:</label>
            <input type="text" id="blog-title-input">
        </div>
        <div class="blog-text-input">
            <label for="blog-body-input">Body:</label>
            <input type="text" id="blog-body-input">
        </div>
        <div class="blog-text-input">
            <label for="blog-date-input">Date:</label>
            <input type="text" id="blog-date-input">
        </div>
        <div class="blog-edit-footer">
          <button type="button" id="blog-cancel">Cancel</button>
          <button type="button" id="blog-accept">Create Blog Post</button>
        </div>

    </section>
</main>