<main id="main-container">
  <div>
    <h1 id="page-title">Contact Us.</h1>
  </div>


  <section class="QA">
    
    <h3>If you are interested in my bunnies contact me using the information below!

    <h3>Email: <a href="mailto:tiffanyslops@gmail.com">tiffanyslops@gmail.com</a></h3>

    <h3>Phone: <a href="tel:5419531412">(541) 953-1412</a></h3>


  </section>

</main>
